@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Rubik", ui-sans-serif, system-ui, sans-serif;
}

/* Custom dual handle slider styling or specific styling helper if needed */
input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  cursor: pointer;
}
